body,html{ margin: 0; padding: 0;}
h1{ margin: 0;}
body{ font-size: 14px; font-family: "微软雅黑"; background: #fafafa;}
a{ text-decoration: none; color: #313131;}
ul{ margin: 0; padding: 0; list-style: none;}
.top{ width: 100%;  background: #F55008; color: #fff;}
#title{ line-height: 50px; font-size: 20px; width: 50%; margin: 0 auto;}
.main{ width: 50%; margin: 0 auto;}
.big-title{ font-size: 16px;}
.text{ width: 100%; height: 30px; border: 1px solid #ccc; padding: 0 10px; box-sizing: border-box;}
.conut{ height: 40px; line-height: 40px;}
.conut span{ float: left; color: red;}
.btn{ float: right; height: 40px;}
.btn a{ float: left; margin-right: 20px; padding: 0 10px; height: 30px; line-height: 30px; margin-top: 5px;}
.btn .active{ border: 1px solid pink;}
.task{ background: #fff;}
.todo-list li{ padding:10px; border-bottom: 1px solid #ededed; line-height: 30px;}
.show{ display: block;}
.hide{ display: none;}
.view{ position: relative; padding-left: 30px;}
.dele{ position: absolute; right: 10px; top: 0; width: 30px; line-height: 30px; text-align: center; font-size: 20px; border: none; background: none; outline: none; color: #cc9a9a; display: none; transition: color 0.2s ease-out;}
.dele:hover{ color: #f55008;}
.todo-list li:hover .dele{ display: block; }
.view input{ position: absolute; left: 0; top: 2px; width: 20px; height: 20px; border: none;  -webkit-appearance: none; appearance: none; outline: none;}
.view input:after{
	content: url(../normal.png);
}
.view input:checked:after{
	content: url(../sel.png);
}
.todo-list label{ transition: color 0.4s;}
.finish{ color: #c1c1c1; text-decoration: line-through;}
.edit{ padding-left: 20px;}
.edit input{ width: 500px; padding: 10px; outline: none;}
.tip{ color: #c1c1c1;}